@font-face {
  font-family: 'MrEavesXLModOT-Bold';
  src: url('../fonts/MrEavesXLModOT/MrEavesXLModOT-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MrEavesXLModOT/MrEavesXLModOT-Bold.woff') format('woff'),
  url('../fonts/MrEavesXLModOT/MrEavesXLModOT-Bold.ttf')  format('truetype'),
  url('../fonts/MrEavesXLModOT/MrEavesXLModOT-Bold.svg#MrEavesXLModOT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MrEavesXLModOT-Reg';
  src: url('../fonts/MrEavesXLModOT/MrEavesXLModOT-Reg.eot?#iefix') format('embedded-opentype'),
  url('../fonts/MrEavesXLModOT/MrEavesXLModOT-Reg.woff') format('woff'),
  url('../fonts/MrEavesXLModOT/MrEavesXLModOT-Reg.ttf')  format('truetype'),
  url('../fonts/MrEavesXLModOT/MrEavesXLModOT-Reg.svg#MrEavesXLModOT-Reg') format('svg');
  font-weight: normal;
  font-style: normal;
}